#game .square.suspect {
	line-height: 16px;
	font-size: 12px;
	text-align: center;
	cursor: default;
	color: red;
}

#game .square.suspect.highlight {
	filter: invert(1);
}

#hovered-cell {
	display: inline-block;
	margin: 10px;
	height: 15px;
}